<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}TITLE CONTENT GOES HERE{% endblock %}</title>
		<link rel="stylesheet" href="/static/styles.css" />

		<!--V-ANIMATED-Tab-Icon-V-->
		<link rel="icon" type="gif" href="/static/imgs/pam_favicon_animated.gif" />
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">

	</head>
	<!-- ANY STYLE TO OVERWRITE -->
	<!-- <style>
	</style> -->
	<body>
		<!-- TOP NAV BAR -->
		<nav class="navbar navbar-light .bg-dark justify-content-between ">
			<div class="container">
				<!-- LINK TO HOME AT THE LEFT -->
				<a href="/" class="navbar-brand text-light">Home</a>
				<!-- LINKS ON THE RIGHT SIDE -->
				<ul class="nav navbar-nav flex-row float-right">
					<!-- Check if user is in session -->
					{% if session['user_id'] %}
					<li class="nav-item">
						<a class="nav-link pr-5 text-light" href="/logout">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link pr-5 text-light" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/register">Sign up</a>
					</li>
					{% endif %}

				</ul>
			</div>
		</nav>
		<!-- LINE TO SEPERATE nav And Messages -->
		<hr />
		{% with messages = get_flashed_messages(with_categories=true) %}
		<!-- check if messages exist -->
			{% if messages %}
		<div class="messages_container" style="margin-top: 2em">
			<ol class="messages">
				{% for category,msg in messages %}
				<li class="alert alert-{{category}}"><p>{{ msg }}</p></li>
				{% endfor %}
			</ol>
		</div>
			{% endif %} 
		{% endwith %}

		<main id="main_content_container">
			<h1 class="text-center text-wrap">28.4 Authentication and Authorization Flask Feedback Exercise</h1>
			<section id="main_content"></section>{% block content %}BODY CONTENT GOES HERE{% endblock %}
		</main>

		<!--line to seperate main body and footer -->
		<hr />
		<footer>
			<section class="Footer_Content">
				<p>&copy; Phedias A.M. All Rights Reserved</p>
			</section>
		</footer>

		<!-- AXIOS -->
		<script 
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
			integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" 
			crossorigin="anonymous"
		></script>

		<!-- JQUERY -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		
		<script src="/static/script.js"></script>
	</body>
</html>
