{% extends 'base.html'  %}
{% block title%}Register{% endblock%}
{% block content %}

<h1 class="display-1">Sign Up</h1>
<p class="lead">Register below to join our application!</p>

<div id="register_form_container" class="col-12 col-md-9 col-lg-7">
    <form method="POST">
  
      {{ form.hidden_tag() }}
    
      {% for field in form
        if field.widget.input_type != 'hidden' %}
      <div class="form-group">
        {{ field.label }}
        {{ field(class_="form-control") }}
    
        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      {% endfor %}
    
      <button class="btn btn-success" type="submit">Register</button>
    
    </form>
  </div>
{% endblock %}